
/* General style*/


body{
  font-family: lucida sans;

}

.sections{
  padding: 20px 0;
}



.section-header .section-title{
  font-size: 40px;

}

.section-header .line{
  width: 150px;
  background: #ddd;
  height: 3px;
  margin:auto;
}

.section-header .line span{
  display: block;
  width: 100px;
  height: 4px;
  background-color: #7cb62f;
  margin: auto;
  position: relative; 
  bottom: 0.5px;
}

.section-header p{
  width: 500px;
  color: #888;
  margin: 20px auto;
  line-height: 1.5;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 20px;
}

.section-header h2{
}
/*72*/
.section-header{
  margin-top: 100px;
}
/*------------------------------- Header ----------------------------------*/

/* Color NavBar*/
  
header .navbar-default{
    background-color:rgba(0,0,0,0);
    border:transparent
}

   
/* position de drop menu*/
header .nav>li>a{padding-bottom:0px}



/* Style Label*/   
header .navbar-default .navbar-nav>li>a{
    color:#fff;
    font-size:16px;
    /*font-weight:600;*/
}

header .navbar-default .navbar-nav .fa{
  margin-right: 8px;
  font-size:17px;
}

header .navbar-default .navbar-nav .fas{
  margin-right: 8px;
}

header .navbar-default .navbar-nav .far{
  margin-right: 8px;
}

/*position de label*/
.MR15{margin-right:15px}
.MT15{margin-top:15px}



/* Labael Hover*/ 
header .navbar-default .navbar-nav>li>a:hover,header .navbar-default .navbar-nav>li>a:focus{
  color:#bcda00
} 
 

header{
  height: auto;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header .logo h2{

  font-size: 35px;
  color: #9ACD32;
  margin-left: 18%;

  /*color: #ffec00;*/
}

header .logo a{
  text-decoration: none;
}

header .container{
   width: 1300px;
   margin-right: auto;
   margin-left: auto;
}

  
/*Drop menu style*/ 
.dropdown-menu{
  
  border-radius:3px !important;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:5px;
  box-shadow:0 4px 9px rgba(0,0,0,0.1);
  padding:0px
}
  
/* Drop menu Raduis*/ 
.dropdown-menu li:first-child a{
  
  border-radius:3px 3px 0 0;
  border-top:medium none
}

/* Important Style DropMenu*/   
.dropdown-menu li a{
  
  border-top:1px solid #eee;
  color:#444;
  display:block;
  height:42px;
  margin:0;
  padding:11px 15px 0;
  position:relative;
  text-transform:uppercase;
  font-size:11px;
  font-weight:600
}

/* Style Icon NavBar*/    
.dropdown-menu li a .fa{
  margin-right:5px
}
  
header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-default .navbar-nav>.open>a:focus,
header .navbar-default .navbar-default .navbar-nav>.open>a:hover{
  background-color:transparent !important
}

.sticky{
  /*background: #111;*/
  /*background: #000;*/
  background-color: rgb(0,0,0,0.9);
  color: #fff;
}

/*--------------------------------- Connexion -------------------------------*/

.modal-dialog{
  position: absolute;
  top: 8%;
  left: 29%;
  transform: translate(-50%,-50%);


}

.modal-dialog .modal-content{
   width: 420px;
   margin-right: auto;
   margin-left: auto;
}

.modal-header .modal-titre{
 /* font-size: 16px;*/
   /*font-style: italic;*/
  font-size: 26px;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: source_sans_proregular, Trebuchet MS, Arial;
}

.modal-header .modal-titre span{
    /*font-size: 25px;
    font-style: italic;*/
    color: #1F1F1F;
    /*color: #333;*/
    font-weight: 550;
}

 .modal-header{
  border-radius: 5px 5px 0px 0px ;
  background: #f5f5f5;

 }

 .modal-body{
   background: #f5f5f5;
 }

.modal-footer{
  border-radius: 0px 0px 5px 5px ;
  background: #93c572;
}

.modal-footer .btn{
    border-color: #ffffff;
      background: #93c572;

}
.inscrit a{
  color: #d53915 ;
  font-family: source_sans_proregular, Trebuchet MS, Arial;
  font-size: 13px;
}

.mdp a{
      color: #1F1F1F;
      font-size: 13px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.inscrit a:hover {
  text-decoration: underline;
}

/*-------------------------------- /Connexion -------------------------------*/

/*----------------------------------- Home section ----------------------------*/

.home{
  height: 650px;
  /*background-image:url('../images/home/road-sky-clouds-cloudy.jpg');*/
  /*background-size: cover;
  background-position: center;*/
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: rgba(0,0,0,0.25);
  /*background-image: linear-gradient(90deg,rgba(255,0,0,0.35),rgba(0,0,255,0.35));*/

}


.home .home-content{
  margin-left: 0%;
  margin-top: 32%;

}

.home .video-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 100%;
  min-width: 100%;
  z-index: -1;

}

.home .home-title{
  color: #fff;
  font-size: 40px;
  margin-bottom: 25px;
}

.home .home-desc{
  color: #fff;
  font-size: 15px;
}

.home .button{
  background: #7cb62f;
  color: #fff;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}

.home .wrapper{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.6);
  max-width: 1000px;
  width: 100%;
  padding: 17px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.wrapper .inputdepart{
  width: 44%;
  height:48px;
  padding: 16px 20px 12px 50px;
  margin:0.4px;
  border: none;
  border-radius: 0;
  background-image: url('../images/home/point_vert.png');
  background-position: 20px 14px;
  background-repeat: no-repeat;
}

.wrapper .inputarrive{
  width: 44%;
  height:48px;
  padding: 16px 20px 12px 50px;
  margin:0.4px;
  border: none;
  border-radius: 0;
  background-image: url('../images/home/point_rouge.png');
  background-position: 20px 14px;
  background-repeat: no-repeat;
}

.wrapper .js-datepicker{
  width: 25%;
  height:48px;
  padding: 16px 20px 12px 50px ;
  margin:0.4px;
  border: none;
  border-radius: 0;
  background-image: url('../images/home/calendar.jpg');
  background-position: 20px 14px;
  background-repeat: no-repeat;
}

.wrapper .btn {
    width: 10%;
    border-radius: 0px;
    border-color: #9ACD32;
    background-color: #9ACD32;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.wrapper .btn:hover{
  background: #ff5722;
  border-color: #ff5722;
}

.btn .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
  color: #000000;
}

/*---------------------------------------- /Home -----------------------------------------*/


/*-------------------------------------- avantage -----------------------------------------*/


.avantage{
  height: 700px;
  background: #f7f7f7;


}

.avantage .section-header p{
    margin-bottom: 75px;
    font-size: 15px;

}

.avantage .fa-stack .circle{

  color: #7cb62f;

}

.avantage .fa-stack{
  margin-bottom: 25px;
}


/* ---------------------------------/avantage----------------------------------------*/



/* ----------------------------------- consigne-------------------------------------*/

.consigne {
    height: 880px;


}

.consigne .section-header{
  margin-bottom: 60px;
}

/*F5F5DC*/
.consigne .serv{
  padding: 17px;
  margin-bottom: 20px;

}

.consigne .serv-title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: #7cb62f;
}

.consigne .serv-desc{
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

/* --------------------------------------/consigne------------------------------------*/




/*----------------------------------------------  Usage   ------------------------------- */

.usage{
  height: 1775px;
  background-color: #f7f7f7;

}


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 140px;
  height: 140px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -70px;
    border-radius: 50%;

}


@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 2em;
  box-shadow: 0 3px 0 #d7e4ed;
  
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
  
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
  
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size:  1.75rem;
  
  }
  .cd-timeline-content p {
    font-size:  1.375rem;
      color: #888;

  }

}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;

  }
  .cd-timeline-content::before {  
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;

  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}


@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/*--------------------------------------- Sociel Media -----------------------------------------------*/

.social-media{
  height: 900px;
}

.social-media .line{
  margin-bottom: 85px;
}

.social-media .g{
  border-width:1px;
 border-style:ridge ;
 border-color:#D3D3D3;

}

/*--------------------------------------- /Sociel Media ----------------------------------------------*/


/*----------------------------------------- Footer --------------------------------------------------*/

.footer p{
  color: #999;
  line-height: 25px;
}

.footer h2,h3{
  color: #fff;
}

.footer h2{
  font-size: 18px;
}

.footer{
  background: #111;
  /*padding: 80px 0;*/
  padding: 50px 0;
}

.segment-one h3{
  font-family: Courgette;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-one h3 span{
  color: #2F4F4F;

}

.segment-two h2{
  color: #fff;
  font-family: Poppins;
  text-transform:uppercase;
  }

.segment-two h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
} 

.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li{
  border-bottom: 1px solid rgba(255,255,255,0.3);
  line-height: 40px;
}

.segment-two ul li a{
  color: #999;
  text-decoration: none;
}

.segment-three h2{
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}
.segment-three h2:before{
  content :'|';
  color: #c65039;
  padding-right: 10px;
}

.segment-three a{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}

.segment-four h2{
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.segment-four h2:before{
  content :'|';
  color: #c65039;
  padding-right: 10px;
}

.footer-bottom-text{
  line-height: 75px;
  text-align: center;
  background: #000;
  margin-bottom: 0px;
}
/*---------------------------------------/ Contact --------------------------------------------------*/