.popup .modal-body{
	background-color: white;
	width: 440px;
    margin-right: auto;
    margin-left: auto; 
	border-radius: 5px;
}

.popup .modal-body h4{
    color: #575757;
    font-size: 30px;
    text-align: center;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

p {
	color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.popup .modal-body button {
	margin: 26px 5px 0px;
	width:80px;
}

