<!-- Message Errors-->	

						{% set formErrors = form.vars.errors.form.getErrors(true) %}

							{% if formErrors|length %}
								 <div id="resendValidationAlert" class="alert alert-danger">
							    	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
										<ul>
										  {% for error in formErrors %}
											<i class="fa fa-exclamation-triangle"></i> {{ error.message}} 
										   {% endfor %}	
										</ul>
								 </div>

						{% endif %}


						<!-- Message success-->
						

								
							{% for message in app.flashes('success') %}

							  <div id="resendValidationAlert" class="alert alert-success">

							    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
								<i class="fa fa-check-circle"></i> {{message}} 

							  </div>

						    {% endfor %}	