
{% block title %}{% endblock %}

{% block stylesheets %} 
		<link rel="stylesheet" type="text/css" href="{{asset('css/style1.css')}}">

{% endblock %}

{% block body %}
			<!-- Footer -->
		<footer>
        	<div class="footer">
        		<div class="container">
        			<div class="row">
        				<div class="col-md-3 col-sm-6 col-xs-12 segment-one">
        					<h3>S<span>u</span>r M<span>a</span> R<span>ou</span>te </h3>
        					<p> Le covoiturage est l'utilisation conjointe et organisée d'une voiture automobile, par un conducteur non professionnel et un ou plusieurs tiers passagers, dans le but d'effectuer un trajet commun. Il procure des avantages individuels et collectifs.</p>
        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-two">
        					<h2>Plus d'infos</h2>
        					<ul>
        						<li><a href="#">Salle de presse</a></li>
        						<li><a href="#">Pourquoi gratuit ?</a></li>
        						<li><a href="#">Application mobile</a></li>
        						<li><a href="#">Nos références</a></li>
        						<li><a href="#">Questions fréquentes</a></li>
        					</ul>	
        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-three">
        					<h2>SUIVEZ-NOUS</h2>
        					<p>Suivez-nous sur les réseaux sociaux ! retrouvez-nous sur Facebook, Twitter et Instagram pour suivre toutes nos actus, N'hésitez pas à partager, liker et échanger !</p>
        					<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
	        				<a href="#"><i class="fa fa-instagram"></i></a>
	        				<a href="#"><i class="fa fa-twitter"></i></a>
	        				<a href="#"><i class="fa fa-youtube"></i></a>

        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-four">

        					<h2>Contact</h2>
        					<p>Adress:Sousse-Tunisie</p>
        					<p>Phone : 216 29 732 742</p>
        					<p>Mail :saifmsk49@gmail.com</p>
        				</div>

        			</div>
        		</div>
        	</div>
        	<p class="footer-bottom-text">Developer by Razgallah Saif Eddine &copy;2020</p>

        </footer>

		<!-- /Footer -->

{% endblock %}

{% block javascripts %}

{% endblock %}	